<!DOCTYPE html>
<html lang="en">
<head>
    <title>Guidance Management System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark .justify-content-center">
        <a class="navbar-brand" href="/buildings/">Guidance Management System</a>
    </nav>
    <div class="container">
        {% if buildings %}
        
        <br>
        <h2>List Building in Guidance Management System</h2>
        <br>
        
        <div class="list-group">
        {% for building in buildings %}
            <a href="/floors/{{building.building_id}}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                {{building.building_name}}
                <span class="badge badge-primary badge-pill">{{building.available_parking}}</span>
            </a>
        {% endfor %}
        </div>

        {% else %}
            <div class="container text-center">{{message}}</div>
        {% endif %}
    </div>
</body>
</html>
